html,
body {
  margin: 0;
  height: 100%;
  font-family: sans;
}

body {
  overflow: hidden;
}

#draft {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolbar {
  background: #eee;
}

#canvas {
  width: 100%;
  flex-grow: 1;
}

#canvasPosition {
  font-size: 0.7em;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #333;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #ccc;
  z-index: 1;
}

#footer {
  background: #eee;
}
